.git
.gitignore
.github
.idea
.vscode
*.md
!go.mod
!go.sum
tasks
dist
bin
out
testdata
**/testdata
coverage.*
*.test
*.out
*.prof
.env
.env.*
.DS_Store
Thumbs.db
docker-compose.override.yml
.goreleaser.*.yaml
!.goreleaser.yaml
deploy/k8s
node_modules
